<!-- <span ng-bind-html="introText" class="intro-text">
  
</span> -->
<ol class="link-items">
  <li class="link-item" ng-repeat="i in [1,2,3,4,5]">
    <p class="title"><a href="http://duckduckgo.com/?q={{i}}" target="_blank">Ace Center Link</a> <a href="#" ng-click="openWindow({url: 'http://duckduckgo.com/?q=' + i})" class="open-here" title="Open in mini-window"> <span class="fa fa-external-link"></span> <span class="text">Open in mini-window</span></a></p>
    <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  </li>
</ol>
