<span class="intro-text" ng-if="!linkRecords.length">
  No links yet.
</span>
<ol class="link-items" ng-if="linkRecords.length">
  <li class="link-item" ng-repeat="item in linkRecords">
    <p class="title"><a ng-href="{{item.url}}" target="_blank">{{item.title}}</a> <a href="#" ng-click="openWindow({url: item.url})" class="open-here" title="Open in mini-window"> <span class="fa fa-external-link"></span> <span class="text">Open in mini-window</span></a></p>
    <div class="desc" ng-bind-html="item.description"></div>
  </li>
</ol>
