<div layout="column" flex>
  <div layout="row">
    <div flex="70" flex-lg="70" flex-md="70" flex-sm="100">
      <div class="os-icons">
      
        <app-icon 
          title="How-To Guides" 
          icon="/images/icons/material/help18.svg" 
          class="color-1"
          template-controller="SoonCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon>

        <app-icon 
          title="Documents"
          icon="/images/icons/material/folder215.svg"
          class="color-2"
          template-controller="SoonCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon>

        <app-icon 
          title="Videos"
          icon="/images/icons/material/youtube35.svg" 
          maximized
          class="color-3"
          template-controller="SoonCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon>

        <app-icon 
          title="Safety Info"
          icon="/images/icons/material/man460.svg" 
          maximized
          class="color-10"
          template-controller="SoonCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon>

        <app-icon 
          title="{{globalUrl}}"
          icon-type="browser"
          maximized
          class="os-icon-hidden"
          url="{{globalUrl}}">
        </app-icon>

        <!-- <app-icon 
          title="Introduction"
          icon="/images/icons/material/good4.svg" 
          class="color-5 os-window-offset"
          template-controller="IntroCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon>

        <app-icon 
          title="Critical Info"
          icon="/images/icons/material/report.svg" 
          class="color-4 os-window-offset"
          template-controller="CriticalCtrl"
          template-path="/modules/applets/views/intro.html">
        </app-icon> -->
        
        <img src="/images/logo-main.png" class="logo" hide-sm hide-xs>
      </div>
    </div>
    <div flex="30" flex-gt-md="30" flex-md="30" flex-sm="0" hide-sm hide-xs style="position: relative;">
      <div ng-include="'/modules/applets/views/descriptions.html'"></div>
    </div>
  </div>
  <div layout="row" hide-md hide-lg hide-gt-sm>
    <div ng-include="'/modules/applets/views/descriptions.html'"></div>
  </div>
  <img src="/images/logo-main.png" class="logo" hide-gt-sm>
  <!-- <add-icon>
    <md-button class="md-fab" aria-label="Add Icon">
        <md-icon md-svg-src="/images/icons/material/square181.svg"></md-icon>
    </md-button>
  </add-icon> -->
</div>