<div flex="100">
  <div class="os-icons">
  
    <app-icon 
      title="Gift Box" 
      icon="/images/icons/gift-box.svg" 
      url="http://localhost:4444">
    </app-icon>

    <app-icon 
      title="Todo App" 
      icon="/images/icons/mail.svg" 
      url="http://cburgdorf.github.io/angular-todo-app/">
    </app-icon>
<!-- 
    <os-icon class="os-icon">
      <img src="/images/icons/gift-box.svg" alt="Gift Box">
      <p>Gift Box</p>
    </os-icon>
    
    <os-icon class="os-icon">
      <img src="/images/icons/mail.svg" alt="Gift Box">
      <p>Mail</p>
    </os-icon>
    
    <os-icon class="os-icon">
      <img src="/images/icons/map.svg" alt="Gift Box">
      <p>Maps</p>
    </os-icon>

    <os-icon class="os-icon">
      <img src="/images/icons/pencils.svg" alt="Gift Box">
      <p>Notes</p>
    </os-icon>

    <os-icon class="os-icon">
      <img src="/images/icons/retina.svg" alt="Gift Box">
      <p>Settings</p>
    </os-icon> -->
  </div>
</div>


<!-- <div class="os-window" ng-if="showWindow">
  <md-toolbar class="os-window-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Close">
        <md-icon md-font-icon="fa fa-close"></md-icon>
      </md-button>
      <h2>
        <span>Todo App</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Minimize">
        <md-icon md-font-icon="fa fa-minus"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Maximize">
        <md-icon md-font-icon="fa fa-square-o"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <div class="loading">
      <md-icon md-font-icon="fa fa-spinner fa-spin"></md-icon>
    </div>
</div> -->