<div flex="100">
  <div class="os-icons">
  
    <app-icon 
      title="Meticulous SAM" 
      icon="/images/icons/new-year/money bag1.svg" 
      class="color-1"
      url="http://meticulous.souqalmal.com">
    </app-icon>

    <app-icon 
      title="Search"
      icon="/images/icons/new-year/search111.svg"
      class="color-2"
      url="http://duckduckgo.com">
    </app-icon>

    <app-icon 
      title="Angular Material"
      icon="/images/icons/new-year/sail1.svg" 
      maximized
      class="color-3"
      url="https://material.angularjs.org/">
    </app-icon>

    <app-icon 
      title="Angular Docs"
      icon="/images/icons/new-year/safari7.svg" 
      maximized
      class="color-4"
      url="https://docs.angularjs.org/">
    </app-icon>

    <app-icon 
      title="Welcome"
      icon="/images/icons/new-year/safari7.svg" 
      class="color-4 os-window-offset"
      auto-open="true"
      url="/intro">
    </app-icon>
    
  </div>
</div>

<div class="floating-texts">
  
</div>
<!-- <add-icon>
  <md-button class="md-fab" aria-label="Add Icon">
      <md-icon md-svg-src="/images/icons/material/square181.svg"></md-icon>
  </md-button>
</add-icon> -->