<div class="scrollable">
  <div class="app-description md-padding margin-bottom">
    <h2 class="primaryColor"><span class="fa fa-check-circle"></span> Welcome</h2>
    <div ng-bind-html="appData.introText"></div>
    <!-- <p>
      Welcome to your documentation for your device. Please note that your equipment is being provided by the ACE Centre. If you have any problems please contact us on <strong>0161 358 0151</strong> - see the <a href="#">Contact details</a> for more information.
    </p>

    <p>
      We hope you don’t have any problems but you may do. Please let your local speech and language therapist know as well the centre if you have any difficulties or your needs change. 
    </p> -->
  </div>

  <div class="app-description md-padding">
    <h2 class="pinkishColor"><span class="fa fa-info-circle"></span> Remember</h2>
    <p>
      Please take a look through all of your documentation however there are some key aspects we would like to draw your attention to:
    </p>

    <ul>
      <li>Please only use your device with the correct mounting as described (link)</li>
      <li>Please only use the provided charger and use this daily</li>
      <li>Please install antivirus software and note it is your responsibility to manage the device sensibly</li>
      <li>If the device needs to be repaired by a third party please backup any personal (non-communication) files off the device</li>
    </ul>
  </div>
</div>