  <md-content flex layout="column">
    <div ng-include="'/modules/admin/views/header.html'"></div>
    <md-card>
      <md-card-content>
        <h2 ng-if="!record._id">Add New User</h2>
        <h2 ng-if="record._id">
          Edit User Info <span class="tiny mute">({{record.email}})</span>
        </h2>

        <form name="addForm" ng-submit="create(addForm.$valid)">
          
          <div layout="column">
            <md-input-container>
              <label>Full Name</label>
              <input name="name" ng-model="record.name" required md-maxlength="100" minlength="5">
              <div ng-messages="addForm.name.$error" ng-show="addForm.$submitted">
                <div ng-message="required">This is required!</div>
                <div ng-message="md-maxlength">That's too long!</div>
                <div ng-message="minlength">That's too short!</div>
              </div>
            </md-input-container>
          </div>

          <div layout="column" ng-show="!record._id">
            <md-input-container>
              <label>Email Address</label>
              <input name="email" type="email" ng-model="record.email" required md-maxlength="100" minlength="5">
              <div ng-messages="addForm.email.$error" ng-show="addForm.$submitted">
                <div ng-message="required">This is required!</div>
                <div ng-message="md-maxlength">That's too long!</div>
                <div ng-message="minlength">That's too short!</div>
              </div>
            </md-input-container>
          </div>

          <div layout="column" ng-if="!record._id">
            <md-input-container>
              <label>Password</label>
              <input type="password" name="password" ng-model="record.password" md-maxlength="100" minlength="5">
              <div ng-messages="addForm.password.$error" ng-show="addForm.$submitted">
                <div ng-message="required">This is required!</div>
                <div ng-message="md-maxlength">That's too long!</div>
                <div ng-message="minlength">That's too short!</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-button type="button" ng-click="delete()" ng-if="record._id" class="md-danger md-raised">Delete</md-button>
            <span flex></span>
            <md-button type="reset" class="md-primary" ng-click="goBack()">
              Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised">
              Save
            </md-button>
          </div>

        </form>
      </md-card-content>
    </md-card>
  </md-content>
