$primaryColor: #4ECCC3;
$linkHoverColor: #333;
$secondaryColor: #B0BEC5;
$gray: #eee;
$darkgray: #bbb;
$white: #fff;
$green: #95D055;
$weirdRandomColor: #77AAB3;
$badgeRed: #CB5757;
$pinkishColor: #FF8A80;


$default-prefixes: webkit moz ms o;

@mixin prefixes($property, $value, $prefixes: $default-prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: #{$value};
    }
    #{$property}: #{$value};
} 

html, body {
  font-size: 14px;
  color: #444;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  background-color: #A53434;
  &.allow-scroll {
    overflow: auto;
  }
  @media (max-width: 768px) {
    overflow: auto;
  }
  &.plain {
    .main-container {
      background: #556270 !important;
    }
  }
  .main-container {
    min-height: 100%;
  }
}
.full-height {
  min-height: 100%;
}
.no-margin {
  margin: 0 !important;
}
.md-menu.no-margin {
  padding: 0 !important;
}
button, .md-button {
  /*&.md-button {
    background-color: #fff;
  }*/
  &.no-text-transform {
    text-transform: none;
  }
  &.no-margin {
    margin: 0;
  }
  &.admin-list-button {
    /*border-bottom: 2px dashed #ccc;*/
    margin-bottom: 5px;
    padding: 15px;
  }
}
.more-content {
  background-color: #dedede;
}
.no-margin {
  margin: 0;
}
.margin-bottom-half {
  margin-bottom: 15px !important;
}
md-content {
  background-color: #F5F5F5 !important;
}
a {
  text-decoration: none;
  cursor: pointer;
  &.btn.md-button {
    display: inline-block;
  }
  color: $primaryColor;
}
.primaryColor {
  color: $primaryColor;
}
.pinkishColor {
  color: $pinkishColor;
}
.primaryColors {
  a {
    &[ng-click] {
      cursor: pointer;
    }
    color: $primaryColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
.fa.yellow {
  color: darkorange;
}
.secondaryColors {
  color: $secondaryColor;
}

/** ====== Sidenav Related BEGIN ====== */
.site-sidenav {
  .sidebar-list {
    padding-top: 5px;
  }
  md-toolbar h1 {
    font-size: 100%;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }
  h2 {
    font-size: 17px;
  }
}
.menuBtn {
  background-color: transparent;
  border: none;
  height: 32px;
  margin: 16px 0;
  width: 36px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 254px;
  min-width: 254px;
  max-width: 254px;
}

/* Using Data-URI converted from svg until <md-icon> becomes available */
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

/** ====== Sidenav Related END ====== */

/** ====== General typo BEGIN ====== */
.md-button.md-fab {
  /*min-width: 56px;*/
}
.left-padd {
  padding-left: 15px;
}
.unspaced-headings {
  h1, h2, h3, h4, p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.aw-full-area {
  margin: -16px;
}
md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: $white;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-content.white {
  background-color: $white;
}
md-toolbar {
  .md-button.md-default-theme {
  }
}
.left-text {
  text-align: left;
}
.md-old-style.md-button {
  font-size: inherit;
  height: 30px;
  min-height: 30px;
  min-width: 0px;
  line-height: 30px;
  width: auto;
  white-space: normal;
}

h2 {
  font-weight: 400;
}
p {
  line-height: 1.846;
  margin: 0 0 3px;

}
.breathing-space {
  margin: 20px 0;
}
.badge {
  background: $badgeRed;
  padding: 2px 6px;
  color: $white;
  border-radius: 20px;
  font-size: 12px;
  margin: 0 2px;

  &.menu-badge {
    position: absolute;
    top: 12px;
  }
}
.color-bg {
  background-color: $weirdRandomColor;
  color: $white;
  input {
    color: $white !important;
  }
  label {
    color: $white !important;
  }
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list-item, md-list-item.md-no-proxy {
  padding: 0;
}
ul.unstyled {
  padding: 0;
  list-style: none;
}
.md-button {
  &.no-case {
    text-transform: none;
  }
  &.no-bold {
    font-weight: normal;
  }
}
.no-margin {
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-true-margin {
  margin: 0;
}
.no-margin-all {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.circular-image {
  border-radius: 99%;
  width: 48px;
  height: 48px;
  margin: 16px;
  background-size: cover;
}
.small {
  width: 24px;
  height: 24px;
}
.mute {
  opacity: 0.4;
}
.tiny {
  font-size: 80%;
  &.fa {
    font-size: 70%;
  }
}
.clickable {
  cursor: pointer;
}
.slight-padding {
  padding: 0 8px;
  margin: 0;
}
/** ====== General typo END ====== */

/** ====== Applets BEGIN ====== */
add-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
}
app-icon {
  @media (max-width: 768px) {
    width: 49%;
  }
  display: inline-block;
  &.color-1 md-icon {
    color: #4ECDC4;
  }
  &.color-2 md-icon {
    color: #FFFF8D;
  }
  &.color-3 md-icon  {
    color: #5BD770;
  }
  &.color-9 md-icon  {
    color: #FFFF8D;
  }
  &.color-8 md-icon  {
    color: #FFF2DF;
  }
  &.color-4 md-icon  {
    color: #FF8A80;
  }
  &.color-5 md-icon  {
    color: #8DFDFF;
  }
  &.color-6 md-icon  {
    color: #80D8FF;
  }
  &.color-7 md-icon  {
    color: #FFFF8D;
  }
  &.color-10 md-icon  {
    color: #AAE5FF;
  }
  &.color-11 md-icon  {
    color: #FF8A80;
  }


  &.color-1 md-icon {
    color: #F0913E;
  }
  &.color-2 md-icon {
    color: #3EC7F0;
  }
  &.color-3 md-icon  {
    color: #5BD7A9;
  }
  &.color-9 md-icon  {
    color: #FFFF8D;
  }
  &.color-8 md-icon  {
    color: #FFF2DF;
  }
  &.color-4 md-icon  {
    color: #FF8A80;
  }
  &.color-5 md-icon  {
    color: #8DFDFF;
  }
  &.color-6 md-icon  {
    color: #80D8FF;
  }
  &.color-7 md-icon  {
    color: #FFFF8D;
  }
  &.color-10 md-icon  {
    color: #6D96A9;
  }
  &.color-11 md-icon  {
    color: #FF8A80;
  }
  
  &.os-no-close {
    .os-close-button {
      display: none;
    }
  }
  &.os-icon-hidden {
    .os-icon-button {
      display: none !important;
    }
  }
  .os-icon-button {
    @media (max-width: 768px) {

    }
  }
  .os-icon {
    display: inline-block;
    margin: 20px;
    width: 107px;
    height: 92px;

    @media (max-width: 768px) {
      margin: 0;
    }
    
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;

    &:hover {
      transform: scale(1.1);
    }
    &:focus, &:active {
      outline: none;
    }

    md-icon {
      width: 64px;
      height: 64px;
      /*@media (max-width: 768px) {
        width: 48px;
        height: 48px;
      }*/
    }
    p {
      color: #737272;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 90%;
      }
    }
  }
}
.os-window {
  position: fixed;
  left: 50px;
  top: 50px;
  width: 600px;
  height: 500px;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 64px;

  @media (max-width: 768px) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.active {
    z-index: 10;
    os-window-cover {
      display: none;
    }
  }

  &.maximized {
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    height: 100%;
  }

  &.minimized {
    /*transform: scale(0.15);*/
    /*width: 500px;
    height: 500px;*/
    overflow: hidden;
    height: auto;
    width: auto;
    padding-bottom: 0;
    
    top: 100% !important;
    margin-top: -64px;

    os-window-content {
      display: none;
    }
  }
  
  os-window-content {
    background: $white;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    max-height: 100%;
    overflow: auto;
    
    &.add-padding {
      padding: 20px 30px;
    }
    iframe {
      height: 100%;
      position: absolute;
      z-index: 1;
    }
  }

  os-window-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.2);
    z-index: 3;
  }

  .loading {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    font-size: 40px;
  }

  background: #fff;
  box-shadow: -3px 10px 20px rgba(0,0,0,0.2);
  
  &:not(.dragging) {
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
  }

  &.ng-enter {
    transform: scale(0.2);
    opacity: 0;
  }
  &.ng-leave {
    
  }
  .os-window-toolbar {
    .md-font {
      font-size: 22px;
    }
    .md-icon-button {
      width: 36px;
    }
  }
}

.os-window-offset {
  .os-window:not(.maximized) {
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
  }
}
/** ====== Applets END ====== */

/** ====== Users BEGIN ====== */
.notification-count {
  span {
    font-size: 12px;
    background: $badgeRed;
    padding: 3px 5px;
    margin-left: -13px;
    border-radius: 99%;
  }
}
.notifications {
  background-color: $white;
  position: absolute;
  z-index: 2;
  margin-top: 0;
  top: 64px;
  right: 0;
  @extend .user-listing;
  .face {
    @extend .small;
    margin: 4px 10px;
  }
  .item {
    button, a {
      padding: 16px 8px;
      margin: 0;
      p {
        max-width: 240px !important;
        font-size: 14px !important;
      }
      p, span {
        display: block;
        color: #444;
        white-space: normal;
        font-size: 100% !important;
        line-height: normal;
      }
    }
  }
  .title-item {
    text-align: center;
  }
}

.chat-dialog {
  form {
    padding: 20px;
    md-input-container {
      padding-bottom: 0;
    }
  }
  .chat-listing {
    padding: 0px;
    
    md-list-item {
      padding: 5px 25px;
    }

    .face {
      @extend .circular-image;
      @extend .small;
      margin: 0;
      margin-right: 8px;
    }
    p.name {
      margin: 0;
      font-size: 80%;
      line-height: 5px;
      color: $primaryColor;
    }
    p.message {
      margin-top: 4px;
      line-height: 1.446;
    }
  }
}

.search-results {
  position: absolute;
  z-index: 1;
  margin-top: -26px;
  /*width: 234px;*/
  @extend .user-listing;
}
.mentions-results {
  position: absolute;
  margin-top: 0px;
}
.button-listing {
  .md-button {
    h3 {
      line-height: 16px;
      font-size: 14px;
      margin-top: 13px;
      text-transform: uppercase;
    }
    p {
      line-height: 14px;
      font-size: 12px;
      margin-top: 5px;
      color: $secondaryColor;
    }
  }
}
.user-profile {
  .user-profile-info {
    padding: 30px;
    .profile-buttons {
      margin-top: 10px;
    }
    .face {
      @extend .circular-image;
      width: 128px;
      height: 128px;
    }
    .user-details {
      margin-top: 14px;
    }
    .status {
      color: $darkgray;
      &.online {
        color: $green;
      }
    }
  }
  .user-profile-details {
    margin-top: -9px;
    md-tabs-wrapper {
      margin-left: 8px;
      margin-right: 8px;
    }
    .no-margin-top {
      margin-top: 0;
    }
    .customized-tab {
      padding: 8px;
      margin-top: -8px;
      md-card {
        margin: 0;
      }
    }
    .user-profile-following {
      @extend .user-listing;
    }
  }
}
.user-profile-btn {
  img {
    background-position: middle center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
}
/** ====== Users END ====== */

/** ====== Misc BEGIN ====== */
.logo {
  position: absolute;
  top: 570px;
  left: 30px;
  width: 146px;

  @media (max-width: 768px) {
    position: static;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
#loading-bar-spinner {
  top: 24px !important;
  left: 24px !important;
  @media (max-width: 768px) {
    left: 128px !important;
  }
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  opacity: 0.5;
}
#loading-bar .bar {
  background-color: #2c3e50 !important;
  height: 5px !important;
  bottom: 0 !important;
  top: auto !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #A53434;
  z-index: 1000;
  .preloader-content {
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    h1, p {
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 43px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    /*
    p {
      letter-spacing: 3px;
      font-size: 30px;
    }*/
  }
}

.intro-text {
  p {
    line-height: 26px;
    font-size: 18px;
    margin: 0 0 10px;
    color: #444;
  }
}

/** ====== Misc END ====== */



/** All view animations */
.main-view {
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
}
.main-view.ng-enter {
  -webkit-transform:translate3d(0, 1%, 0);
  -moz-transform:translate3d(0, 1%, 0);
  -ms-transform:translate3d(0, 1%, 0);
  transform:translate3d(0, 1%, 0);
  opacity: 0;
}
.main-view.ng-leave {
}

/** ================== THEMING ===================== */
.md-padding {
  padding: 24px;
}
md-toolbar {
  background-color: #494749 !important;
}
md-dialog {
  md-dialog-content {
    padding: 0;
  }
  .md-subheader.md-default-theme {
    background: #eee;
    margin: 0;
    text-transform: uppercase;
  }
}
.margin-bottom {
  margin-bottom: 30px;
}
.app-description {
  border-radius: 6px;
  background-color: #fff;
  p {
    line-height: 18px;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}
.scrollable {
  @media (min-width: 768px) {
    position: absolute;
    height: auto;
    overflow: scroll;
  }
}
.link-items {
  .link-item {
    .title a {
      font-size: 110%;
      font-weight: bold;
      color: #EE3B33;
      &:hover {
        border-bottom: 1px dashed #aaa;
      }
    }
    .open-here {
      color: #aaa !important;
      margin-left: 10px;
      .text {
        display: none;
      }
      &:hover {
        border: none !important;
        .text {
          display: inline;
          font-weight: normal;
        }
      }
    }
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
  }
}

.collections-list {
  md-list-item {
    border-bottom: 1px dashed #ccc;
  }
}
.cke_top, .cke_bottom {
  background: #fff !important;
  border: none !important;
}
.cke_toolgroup {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}
.cke_chrome {
  border: none !important;
}
.fl-right {
  float: right;
}
.admin-header {
  margin: 8px;
  margin-right: 0;
}

.form-info {
  margin-top: 2px;
  font-size: 80%;
}
.invalid {
  margin-top: 15px;
  background-color: rgba(255, 205, 205, 0.54);
  border: 1px solid rgb(255, 205, 205);
  padding: 10px 15px;
  a {
    color: red;
  }
}
.file-uploader {
  display: block; background: #eee; border: 1px dashed #ccc; padding: 50px 0; text-align: center; margin: 20px 0; color: #000;
  &.dragover {
    background-color: rgba(78,204,195,0.26);
  }
}
.green {
  color: $green;
}
.user-list-item {
  font-size: 50px;
  padding: 12px;
}

.groupX {
  color: #fff;
  min-width: 0;
  padding: 5px 6px;
  background: none !important;
  border-radius: 0;
  &:hover {
    
  }
  &.active {
    border-bottom: 2px solid #fff;
  }
  .md-ripple-container {
    display: none;
  }
}
.intro-head {
    position: relative;
    width: 100%;
    height: 540px;
    margin-bottom: -115px;
    background: #A53434;
    transition: all linear 0.2s;
    &.full-height {
      min-height: 100%;
    }
    &.cyan {
      background-color: #21909E;
    }
    &.red {
      background-color: #455A64;
    }
    &.green {
      background-color: #37751E;
    }
    &.regular {
      background-color: #A53434;
    }
}
.heading-container {
  margin-top: 211px;
  h1 {
    font-weight: 300 !important;
    strong {
      font-weight: 400;
      border-bottom: 1px dashed rgba(255,255,255,0.3);
    }
  }
}
.white {
  color: #fff;
}
.relative {
  position: relative;
}
.main-view-content {
  max-width: 1024px;
  width: 100%;
}
.search-menu {
  md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: #fff;
  }
  md-input-container.md-default-theme .md-input, md-input-container .md-input {
    border-color: transparent;
  }
  md-input-container {
    font-size: 130%;
    label {
      text-transform: uppercase;
    }
    input {
      color: #fff;
    }
  }
}
.search-menu {
  padding: 10px 30px;
}
.search-options {
  md-checkbox {
    margin: 16px 0;
    width: 100%;
  }
}
.md-padding-horiz {
  padding: 0 24px;
}
.dark-color {
  background-color: #443B34 !important;
}

.default-ng-transition-vertical {
  @include prefixes('transition', all 0.2s);
  &.ng-enter {
    @include prefixes('transform', translateY(30px));
    @include prefixes('opacity', 0);
  }
  &.ng-enter.ng-enter-active {
    @include prefixes('transform', translateY(0px));
    @include prefixes('opacity', 1);
  }
  &.ng-leave.ng-leave-active {
    position: absolute;
    @include prefixes('transform', translateY(30px));
    @include prefixes('opacity', 0);
  }
  &.ng-leave {
    position: absolute;
    @include prefixes('transform', translateY(0px));
    @include prefixes('opacity', 1);
  }
}